html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hello
    body
        // Card example one
        section
            article.user-card
                img(src="https://picsum.photos/id/569/200/200", alt="Person profile picture").user-card__img
                article.user-card__body
                    h3 Arturs Timofejevs
                    p Works full time at jalmia in sligo ireland.
        section
            article.work-card
                .work-card__employee-number
                    h1 420
                .work-card__employee-detail
                    p Arturs Timofejevs
                    p 23
                    p Sligo, Ireland
        section
            article.business-card
                .business-card__header
                    time(datetime="2019-08-09T17:30") Aug 09 - 2019
                    .logo 
                        span
                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 234.5 53.7"><style>.st0{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}</style><path d="M.6 1.4L116.9 52l117-50.6" class="st0"/></svg>
                            | Logo
                    .sponsor
                        span Sponsor
                .business-card__body
                    h3 We present
                    h1 This Message
                    h3.italic + and many more

