html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hello
    body
        // Card example one
        section
            article.user-card
                img(src="https://picsum.photos/id/569/200/200", alt="Person profile picture").user-card__img
                article.user-card__body
                    h3 Arturs Timofejevs
                    p Works full time at jalmia in sligo ireland.
        section
            article.work-card
                .work-card__employee-number
                    h1 420
                .work-card__employee-detail
                    p Arturs Timofejevs
                    p 23
                    p Sligo, Ireland
                

